<div class="md:flex md:items-center md:justify-between">
  <div class="min-w-0 flex-1">
    <h2 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight dark:text-white">Crab Templates</h2>
  </div>
</div>

<div class="divide-y divide-gray-200 dark:divide-white/10">
  <div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 py-16 md:grid-cols-3">
    <div>
      <h2 class="text-base/7 font-semibold text-gray-900 dark:text-white"><%= @template.name %></h2>
      <p class="mt-1 text-sm/6 text-gray-500 dark:text-gray-400">Template options for the <%= @template.name %> template.</p>
    </div>

    <%= form_for @template, url: admin_template_path(@template), html: {class: "md:col-span-2"} do |form| %>
      <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6">
        <div class="col-span-full">
          <%= form.label :avatar, class: css_label %>
          <div class="mt-2">
            <% if @template.avatar.attached? %>
              <%= image_tag @template.avatar, class: "size-16 rounded-md" %>
            <% else %>
              <svg viewBox="0 0 24 24" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-16 text-gray-300 dark:text-gray-500">
                <path d="M1.5 6a2.25 2.25 0 0 1 2.25-2.25h16.5A2.25 2.25 0 0 1 22.5 6v12a2.25 2.25 0 0 1-2.25 2.25H3.75A2.25 2.25 0 0 1 1.5 18V6ZM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0 0 21 18v-1.94l-2.69-2.689a1.5 1.5 0 0 0-2.12 0l-.88.879.97.97a.75.75 0 1 1-1.06 1.06l-5.16-5.159a1.5 1.5 0 0 0-2.12 0L3 16.061Zm10.125-7.81a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Z" clip-rule="evenodd" fill-rule="evenodd" />
              </svg>
            <% end %>
          </div>
          <div class="mt-4">
            <%= form.file_field :avatar, class: "w-52 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-xs inset-ring inset-ring-gray-300 hover:bg-gray-50 dark:bg-white/10 dark:text-white dark:shadow-none dark:inset-ring-white/5 dark:hover:bg-white/20" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <%= form.label :engine_id, "Engine", class: css_label %>
          <div class="mt-2 grid grid-cols-1">
            <%= form.select :engine_id, Engine.pluck(:name, :id), {}, class: css_select %>
            <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
              <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
            </svg>
          </div>
          <%= form.error_message(:engine_id) %>
        </div>

        <div class="sm:col-span-3">
          <%= form.label :status, class: css_label %>
          <div class="mt-2 grid grid-cols-1">
            <%= form.select :status, ::Template.statuses.keys, {}, class: css_select %>
            <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
              <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
            </svg>
          </div>
          <%= form.error_message(:status) %>
        </div>

        <div class="col-span-full">
          <%= form.label :description, class: css_label %>
          <div class="mt-2">
            <%= form.textarea :description, rows: 3, class: css_textarea %>
          </div>
          <%= form.error_message(:description) %>
        </div>

        <div class="col-span-full">
          <%= form.label :instruction, class: css_label %>
          <div class="mt-2">
            <%= form.textarea :instruction, rows: 3, class: css_textarea %>
          </div>
          <%= form.error_message(:instruction) %>
        </div>

        <div class="col-span-full">
          <%= form.label :template, "ERB Template", class: css_label %>
          <div class="mt-2">
            <%= form.textarea :template, rows: 12, class: css_textarea %>
          </div>
          <%= form.error_message(:template) %>
        </div>
      </div>

      <div class="mt-8 flex sm:max-w-xl md:col-span-2">
        <%= form.submit "Save", class: css_button %>
        <%= link_to "Delete", admin_template_path(@template), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "ml-auto #{css_button_secondary}" %>
      </div>
    <% end %>
  </div>

  <div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 py-16 md:grid-cols-3">
    <div>
      <h2 class="text-base/7 font-semibold text-gray-900 dark:text-white">ERB Template options</h2>
      <p class="mt-1 text-sm/6 text-gray-500 dark:text-gray-400">These options are provided by users at deploy time and are available within the ERB template.</p>
      <p class="mt-4 text-sm/6 text-gray-500 dark:text-gray-400">
        Example usage:<br>
        <%%= crab_id %><br>
        <%%= user_id %><br>
        <%%= options["option1"] %><br>
        <%%= secrets["secret1"] %><br>
      </p>
    </div>
    <div class="sm:max-w-xl md:col-start-2 md:col-span-2">
      <%= link_to "Add", new_admin_template_option_path(@template), data: { turbo_frame: "options_frame_new" }, class: css_button %>
      <div class="py-2"></div>
      <%= turbo_frame_tag "options_frame_new" %>
      <%= turbo_frame_tag "options_frame" do %>
        <%= render @template.template_options %>
      <% end %>
    </div>
  </div>
</div>
