<div class="md:flex md:items-center md:justify-between">
  <div class="min-w-0 flex-1">
    <h2 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight dark:text-white">Crab Templates</h2>
  </div>
  <div class="mt-4 flex md:mt-0 md:ml-4">
    <%= link_to "Add Template", new_admin_template_path, class: "ml-3 inline-flex items-center #{css_button}" %>
  </div>
</div>

<ul role="list" class="my-16 divide-y divide-gray-100 overflow-hidden bg-white shadow-xs outline-1 outline-gray-900/5 sm:rounded-xl dark:divide-white/5 dark:bg-gray-800/50 dark:shadow-none dark:outline-white/10 dark:sm:-outline-offset-1">
  <% @templates.each do |template| %>
  <li class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6 dark:hover:bg-white/2.5">
    <div class="flex min-w-0 gap-x-4">
      <%= image_tag template.avatar, class: "size-12 flex-none rounded-md bg-gray-50 dark:bg-gray-800 dark:outline dark:-outline-offset-1 dark:outline-white/10" if template.avatar.attached? %>
      <div class="min-w-0 flex-auto">
        <p class="text-sm/6 font-semibold text-gray-900 dark:text-white">
          <a href="<%= edit_admin_template_path(template) %>">
            <span class="absolute inset-x-0 -top-px bottom-0"></span>
            <%= template.name %>
          </a>
        </p>
        <p class="mt-1 flex text-xs/5 text-gray-500 dark:text-gray-400">
          <%= template.engine.name %>
        </p>
      </div>
    </div>
    <div class="flex shrink-0 items-center gap-x-4">
      <div class="hidden sm:flex sm:flex-col sm:items-end">
        <p class="text-xs/5 text-gray-500 dark:text-gray-400"><%= template.status %></p>
      </div>
      <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 flex-none text-gray-400 dark:text-gray-500">
        <path d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
      </svg>
    </div>
  </li>
  <% end %>
</ul>
