<div class="md:flex md:items-center md:justify-between">
  <div class="min-w-0 flex-1">
    <h2 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight dark:text-white">Deploy Crab</h2>
  </div>
</div>

<div class="divide-y divide-gray-200 dark:divide-white/10">
  <div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 py-16 md:grid-cols-3">
    <div>
      <h2 class="text-base/7 font-semibold text-gray-900 dark:text-white">New Crab</h2>
      <p class="mt-1 text-sm/6 text-gray-500 dark:text-gray-400"><%= @crab.template.description %></p>
      <p class="mt-1 text-sm/6 text-gray-500 dark:text-gray-400"><%= @crab.template.instruction %></p>
    </div>

    <%= form_for @crab, url: crabs_path, html: {class: "md:col-span-2"} do |form| %>
      <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6">
        <%= form.hidden_field :template_id %>
        <div class="sm:col-span-full">
          <%= form.label :name, class: "block text-sm/6 font-medium text-gray-900 dark:text-white" %>
          <div class="mt-2">
            <%= form.text_field :name, autocomplete: "name", class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-indigo-500" %>
          </div>
          <%= form.error_message(:name) %>
        </div>

        <% @crab.template.template_options.each do |option| %>
        <div class="sm:col-span-full">
          <%= form.label option.name, class: "block text-sm/6 font-medium text-gray-900 dark:text-white" %>
          <div class="mt-2">
            <input type="text" id="crab_<%= option.name %>" name="crab[options][<%= option.name %>]" autocomplete="none" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-indigo-500">
          </div>
          <%= form.error_message("crab[options][#{option.name}]") %>
        </div>
        <% end %>
      </div>

      <div class="mt-8 flex">
        <%= form.submit "Deploy!", class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:bg-indigo-500 dark:shadow-none dark:hover:bg-indigo-400 dark:focus-visible:outline-indigo-500" %>
      </div>
    <% end %>
  </div>
</div>
