<div class="md:flex md:items-center md:justify-between">
  <div class="min-w-0 flex-1">
    <h2 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight dark:text-white">Crab <%= @crab.name %> (<%= @crab.status %>)</h2>
  </div>
</div>

<div class="divide-y divide-gray-200 dark:divide-white/10">
  <div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 py-16 md:grid-cols-3">
    <div>
      <h2 class="text-base/7 font-semibold text-gray-900 dark:text-white">Crab <%= @crab.name %></h2>
      <p class="mt-1 text-sm/6 text-gray-500 dark:text-gray-400"><%= @crab.template.description %></p>
      <p class="mt-1 text-sm/6 text-gray-500 dark:text-gray-400"><%= @crab.template.instruction %></p>
    </div>

    <div class="md:col-span-2">
      <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6">
        <div class="sm:col-span-full">
          <%= label_tag :crab, :name, class: css_label %>
          <div class="mt-2">
            <%= text_field_tag :crab, @crab.name, autocomplete: :none, disabled: true, class: css_text %>
          </div>
        </div>

        <% @crab.template.template_options.each do |option| %>
        <div class="sm:col-span-full">
          <%= label_tag "crab_#{option.name}", option.name, class: css_label %>
          <div class="mt-2">
            <input type="text" id="crab_<%= option.name %>" name="crab[options][<%= option.name %>]" value="<%= @crab.options[option.name] if @crab.options.present? %>" autocomplete="none" disabled class="<%= css_text %>">
          </div>
        </div>
        <% end %>
      </div>

      <div class="mt-8 flex sm:max-w-xl md:col-span-2">
        <%= link_to "Restart", restart_crab_path(@crab), class: css_button %>
        <%= link_to "Upgrade", upgrade_crab_path(@crab), class: "ml-3 #{css_button}" %>
        <%= link_to "Delete", crab_path(@crab), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "ml-auto #{css_button_secondary}" %>
      </div>
    </div>
  </div>
</div>
