<div class="md:flex md:items-center md:justify-between">
  <div class="min-w-0 flex-1">
    <h2 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight dark:text-white">Crab Engines</h2>
  </div>
  <div class="mt-4 flex md:mt-0 md:ml-4">
    <%= link_to "Add Engine", new_admin_engine_path, class: "ml-3 inline-flex items-center #{css_button}" %>
  </div>
</div>

<div class="divide-y divide-gray-200 dark:divide-white/10">
  <% @engines.each do |engine| %>
  <div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 py-16 md:grid-cols-3">
    <div>
      <h2 class="text-base/7 font-semibold text-gray-900 dark:text-white"><%= engine.name.capitalize %></h2>
      <p class="mt-1 text-sm/6 text-gray-500 dark:text-gray-400">Engine options for <%= engine.name %></p>
    </div>

    <%= form_for engine, url: admin_engine_path(engine), html: {class: "md:col-span-2"} do |form| %>
      <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6">
        <div class="sm:col-span-full">
          <%= form.label :deploy_command, class: css_label %>
          <div class="mt-2">
            <%= form.text_field :deploy_command, autocomplete: "name", class: css_text %>
          </div>
          <%= form.error_message(:deploy_command) %>
        </div>

        <div class="sm:col-span-full">
          <%= form.label :status_command, class: css_label %>
          <div class="mt-2">
            <%= form.text_field :status_command, autocomplete: "name", class: css_text %>
          </div>
          <%= form.error_message(:status_command) %>
        </div>

        <div class="sm:col-span-full">
          <%= form.label :upgrade_command, class: css_label %>
          <div class="mt-2">
            <%= form.text_field :upgrade_command, autocomplete: "name", class: css_text %>
          </div>
          <%= form.error_message(:upgrade_command) %>
        </div>

        <div class="sm:col-span-full">
          <%= form.label :restart_command, class: css_label %>
          <div class="mt-2">
            <%= form.text_field :restart_command, autocomplete: "name", class: css_text %>
          </div>
          <%= form.error_message(:restart_command) %>
        </div>

        <div class="sm:col-span-full">
          <%= form.label :destroy_command, class: css_label %>
          <div class="mt-2">
            <%= form.text_field :destroy_command, autocomplete: "name", class: css_text %>
          </div>
          <%= form.error_message(:destroy_command) %>
        </div>
      </div>

      <div class="mt-8 flex sm:max-w-xl md:col-span-2">
        <%= form.submit "Save", class: css_button %>
        <%= link_to "Delete", admin_engine_path(engine), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "ml-auto #{css_button_secondary}" %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
