<%= turbo_frame_tag "options_frame_new" do %>
  <%= form_for @template_option, url: admin_template_options_path(@template), html: {class: "mt-4 sm:flex sm:items-center"} do |form| %>
    <%= form.label :name, class: css_label %>
    <div class="w-full">
      <%= form.text_field :name, autocomplete: "name", placeholder: "user_input", class: "ml-3 #{css_text}" %>
    </div>
    <%= form.submit "Create", class: "ml-6 #{css_button}" %>
  <% end %>
<% end %>
